[submodule "Intro"]
	path = Intro
	url = https://github.com/adfmb/Intro.git
[submodule "IntroToDataScience"]
	path = IntroToDataScience
	url = https://github.com/adfmb/IntroToDataScience.git
[submodule "courses-intro-to-r"]
	path = courses-intro-to-r
	url = https://github.com/adfmb/courses-intro-to-r.git
